.footer{
  width: 100%;
  background: #1E293B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .footer_social{
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .footer_logo{
    width: 70px;
  }
  .footer_ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;

    .social_icon img{
      width: 40px;
      transition: transform 0.3s;
    }

    .social_icon img:hover{
      transform: scale(1.15);
    }
  }
}